<!DOCTYPE html>
<html>
<head>
    <title>All Stored Captchas Have Been Renamed! Come Back Later</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 72px;
            text-align: center;
            margin-top: 200px;
            color: #007bff;
            text-shadow: 2px 2px #ccc;
        }
    </style>
</head>
<body>
    <h1>All Stored Captchas Have Been Renamed! Come Back Later</h1>
</body>
</html>